a {
  text-decoration: none;
}

.card {
  border: 2px solid #333;
  border-radius: 2rem;
  height: 480px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.card:hover {
  background: #333;
  opacity: .9;
  border-color: #3761ab;
}

.card h3 {
  color: #fff;
  font-size: 2.5rem;
  text-transform: capitalize;
}

.image {
  max-width: 80%;
  max-height: 410px;
  min-width: 280px;
}

.types {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  color: #3761ab;
}

.types p {
  font-size: 1.4rem;
  text-transform: capitalize;
}
